@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cl-rootBox {
  display: flex;
}
.cl-userButtonAvatarBox {
  position: absolute;
  left: 76%;
}

.custom-width {
  width: 23rem;
}
.profile-form {
  width: 50%;
}
.MuiTextField-root {
  width: 18.5rem;
}

.profile-btn {
  width: 9.5rem;
}
