@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.cl-rootBox {
  display: flex;
}

.cl-userButtonAvatarBox {
  position: absolute;
  left: 76%;
}

.display-img {
  display: none;
}

.not-found {
  width: 90%;
  margin: auto;
  padding: 1rem;
}

.MuiTextField-root {
  width: 18.8rem;
}

.MuiFormControl-root {
  width: 18.8rem;
  margin-left: 0 !important;
  margin-top: 1rem;
}

@media only screen and (min-width: 768px) {
  .header-container {
    display: flex;
  }

  .header {
    width: 100%;
    margin: auto;
  }

  .cl-userButtonAvatarBox {
    position: absolute;
    left: 90%;
  }

  .custom-width {
    width: 30rem;
    height: 12rem;
    position: absolute;
    right: 15%;
    background: #f9f4f0;
    opacity: 0.5;
    border-radius: 1rem;
  }

  .MuiTextField-root {
    width: 18.8rem;
  }

  .profile-btn {
    width: 9.5rem;
  }

  .MuiFormControl-root {
    width: 18.5rem;
    margin-left: 0 !important;
    margin-top: 1rem;
  }

  .search-container {
    display: flex;
    flex-direction: row;
    gap: 30rem;
  }

  .search-header {
    font-size: 2rem;
    margin-left: 6rem;
  }

  .search-images {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 3rem;
  }

  .searchImg {
    width: 20rem;
  }

  .search-input {
    width: 22rem;
    height: 3rem;
    font-size: medium;
  }

  .single-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 70%;
  }

  .singleImg {
    width: 42rem;
  }

  .desktop-display {
    display: flex;
  }
  .ingredent {
    margin: 2rem;
    width: 30%;
  }
  .instruction {
    margin-left: 2rem;
    width: 40%;
  }

  .single-page {
    display: flex;
    justify-content: center;
    align-self: baseline;
    margin: 1rem 0;
  }
  .single-drink {
    font-size: 2.5rem;
    margin-left: 0;
  }
  .profile-form-container {
    height: 100vh;
    background-image: url("/images/rum.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
  }
  .profile-form,
  .profile-page {
    margin: auto;
    padding: 7rem 6rem 0 6rem;
    position: relative;
    left: 10%;
    top: 15.5%;
  }

  .profile-form {
    width: 90%;
  }

  .profile-page {
    width: 45%;
  }
  .not-found {
    width: 50%;
    margin: auto;
    padding: 5rem;
  }
}

@media (min-width: 900px) {
  .profile-form-img {
    width: 42rem;
    position: absolute;
    right: 10rem;
  }
  .display-img {
    display: flex;
  }
}
